*.iml
.jks
*.tmp
*.log
*.bak
.keystore
/.gradle/
/local.properties/
/.idea/
/app/build/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
Thumbs.db
.externalNativeBuild
.cxx
local.properties
